<h3>{{ 'EXAMPLES.WITH_SOURCE_FILES' | translate }}</h3>
<pip-document documentUrl="./assets/boy.png" (onDocumentClick)="openMe()"></pip-document>
<br>
<h3>{{ 'EXAMPLES.WITHOUT_SOURCE_FILES' | translate }}</h3>
<pip-document></pip-document>
<br>
<h3>{{ 'EXAMPLES.PROGRESS_STATE' | translate }}</h3>
<mat-slide-toggle [(ngModel)]="isProgress" style="margin-bottom: 16px">{{ 'EXAMPLES.PROGRESS' | translate }}</mat-slide-toggle>
<br>
<pip-document documentUrl="./assets/boy.png" [progressVisibility]="isProgress" (onCancelClick)="onCancelClick()" (onDocumentClick)="openMe()"></pip-document>