@import '~@angular/material/theming';
@import '~pip-webui2-themes/src/styles.scss';
@include mat-core();
@mixin document-mixin($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
     :host.pip-document {
        color: mat-color($foreground, text);
        background: mat-color($background, card);
        &:hover>div:not(.disabled) {
            background: mat-color($foreground, divider);
        }
    }
}

.unicorn-dark-theme {
    @include document-mixin($dark-theme);
}

.candy-theme {
    @include document-mixin($candy-app-theme);
}

.pip-blue-theme {
    @include document-mixin($pip-blue-theme);
}

.pip-grey-theme {
    @include document-mixin($pip-grey-theme);
}

.pip-navy-theme {
    @include document-mixin($pip-navy-theme);
}

.pip-amber-theme {
    @include document-mixin($pip-amber-theme);
}

.pip-green-theme {
    @include document-mixin($pip-green-theme);
}

.pip-orange-theme {
    @include document-mixin($pip-orange-theme);
}

.pip-pink-theme {
    @include document-mixin($pip-pink-theme);
}

.pip-dark-theme {
    @include document-mixin($pip-dark-theme);
}

.pip-black-theme {
    @include document-mixin($pip-black-theme);
}

.bootbarn-warm-theme {
    @include document-mixin($bootbarn-warm-theme);
}

.bootbarn-cool-theme {
    @include document-mixin($bootbarn-cool-theme);
}

.bootbarn-mono-theme {
    @include document-mixin($bootbarn-mono-theme);
}

:host.pip-document {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 80px;
    width: 80px;
    &>div {
        box-sizing: border-box;
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        overflow: hidden;
        place-content: center;
        align-items: center;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        cursor: pointer;

        &.error:not(.progress) {
            cursor: auto;
        }

        &.error, &.progress {
            .mat-icon {
                opacity: 1 !important;
            }
        }

        &.disabled {
            cursor: auto;
        }

        .mat-icon {
            height: 36px;
            width: 36px;
            font-size: 36px;
            transition: all .35s ease;
        }
        span {
            font-size: 14px;
        }
        .mat-progress-bar {
            position: absolute;
            bottom: 0;
        }
    }
}